{% extends '_base.html' %}
{% block content %}
  <div class="bg-gray-100 font-sans h-full">
    <div class="container mx-auto p-8 bg-white shadow-md rounded-md mt-28">
      <h1 class="text-3xl font-bold mb-4">最新のスレッド</h1>
      <!-- スレッドのサムネイル -->
      <div class="flex flex-wrap -mx-4">
        <!-- sample 1 -->
        <div class="max-w-sm rounded overflow-hidden shadow-lg mb-4 mx-4 px-4">
          <img class="w-full h-48 object-cover"
               src="https://via.placeholder.com/300"
               alt="Thread Image">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">スレッドのタイトル</div>
            <p class="text-gray-700 text-base">スレッドの説明や内容がここに入ります。</p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#カテゴリ</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#トピック</span>
          </div>
        </div>
        <!-- sample 2 -->
        <div class="max-w-sm rounded overflow-hidden shadow-lg mb-4 mx-4 px-4">
          <img class="w-full h-48 object-cover"
               src="https://via.placeholder.com/300"
               alt="Thread Image">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">スレッドのタイトル</div>
            <p class="text-gray-700 text-base">スレッドの説明や内容がここに入ります。</p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#カテゴリ</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#トピック</span>
          </div>
        </div>
        <!-- sample 3 -->
        <div class="max-w-sm rounded overflow-hidden shadow-lg mb-4 mx-4 px-4">
          <img class="w-full h-48 object-cover"
               src="https://via.placeholder.com/300"
               alt="Thread Image">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">スレッドのタイトル</div>
            <p class="text-gray-700 text-base">スレッドの説明や内容がここに入ります。</p>
          </div>
          <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#カテゴリ</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#トピック</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}
