<!DOCTYPE html>
<html lang="en">

<head>
  <title>Article Site</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>

<body>
  <h1 class="text-red-700 text-3xl">ホーム</h1>

  <div class="my-10">
    <a href="{{ url_for('create') }}" class="bg-blue-500 hover:bg-blue-700
    text-white font-bold py-2 px-4 rounded">掲示板を作る</a><br>
  </div>

  <div>
    <a href="{{ url_for('thread') }}" class="underline">スレッドタイトル</a>
  </div>

  <div>
    <a href="{{ url_for('login') }}">ログイン</a>
  </div>

  <div>
    <a href="{{ url_for('signup') }}">サインアップ</a>
  </div>
</body>

</html>
