<!DOCTYPE html>
<html lang="en">

<head>
    <title>Article Site</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>

<body>
    <p>ログインページ</p>

    <form method="POST">
        <label for="">メールアドレス</label>
        <input type="email" name="email" required>

        <label for="">パスワード</label>
        <input type="password" name="password" required>
    </form>
</body>